table, td, th {
	border: 1px solid black;
}

td, th {
	padding: 5px;
}

span {
	text-decoration: underline;
}

tr td:nth-child(n+3) > input:hover,
tr td:nth-child(n+3) > input:focus {
    background-color: #c3b6b6;
}

button {
    color: white;
}

.duplicate {
	background-color: #6b97ff;
}

.duplicate:hover {
	background-color: #3763ca;
}

.delete {
	background-color: #ff8179;
}

.delete:hover {
	background-color: #ef4e43;
}

.clear {
	background-color: #79ff8d;
    color: black;
}

.clear:hover {
	background-color: #4cb55c;
}

table {
	counter-reset: count;
}

.row-number::before {
	counter-increment: count;
	content: counter(count);
}